  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title id="ontitle">
        <strong>Simulador</strong>
      </ion-title>
    </ion-toolbar>

    <div id="container">
      <strong>Faça seu dinheiro render mais</strong>
      <p>O seu dinheiro com rendimento maior que a poupança, a 100% do CDI e disponível a qualquer momento</p>
    </div>

  </ion-header>

  <ion-content [fullscreen]="true">

    <div id="placeholders">
      <ion-item>
        <ion-label>Depósito Inicial</ion-label>
        <ion-input id="place" placeholder="R$00,00"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Todo mês depositando</ion-label>
        <ion-input id="place" placeholder="R$00,00"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Resgate em Meses</ion-label>
        <ion-input id="place" placeholder="0 meses"></ion-input>
      </ion-item>

      <section id="calcbutton">
        <ion-button color="tranparent" expand="full" box-shadow="none">Calcular</ion-button>
      </section>
    </div>


  </ion-content>


